.hidden {
	display: none;
}

body{
	background-color: #abf4ff;
	margin: 35px;
	padding: 4px;	
}

header{
	background-image: url('imag1.jpg');
	font-family: Roboto Slab;
	font-size: 34px;
	line-height: 34px;
	border: solid #abf4ff;
	color: #9cf9f5;
}
a{
	text-decoration:none;
	line-height: 1.5;
	font-weight: bold;
	color: #0dfff5;
}
.pro{
	text-decoration:none;
	line-height: 1.5;
	font-weight: bold;
	color: #184b5b;
}
a:hover {
	color: mediumblue;
}
.arrow {
	float: right;
	transform: rotate(90deg);
	transition: transform 0.3s ease;
}
.projeto.expand .arrow {
	transform: rotate(-90deg);
}

h1{
	text-align: center;
}

#list{
	text-align: center;
	padding: 0 60px;
	font-size: 33px;
}
.art{
	font-family: Roboto Slab;
	font-size: 19px;
	padding: 0 60px;
	
}
h2{
	max-inline-size: max-content;
	font-size: 22px;
}
h3{
	max-inline-size: max-content;
	font-size: 20px;
}
li{
	list-style: none;
	padding: 18px;
}
p{
	text-align: right;
	font-size: 16px;
	display: contents;
	line-height: 1;
}
img{
	padding: 8px;
	margin-right: 40px;
	float: left;
	width: 243px;
}
.fin{
	font-family: Roboto Slab;
	font-size: 8px;
	text-align: center;
	display: block;
}
@media screen and (max-width: 896px){
	a{
		font-size: 39px;
	}
	#list{
		display: contents;
		font-size: 39px;
	}

}

@media screen and (max-width: 500px){
	body{
	    background-repeat: no-repeat;
    	margin:9px;
		
	}
	#list{
		display: contents;
		font-size: 39px;
	}
}